# Зависимости
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Переменные окружения
.env

# Файлы Google API
credentials.json
token.json

# Данные WhatsApp
.wwebjs_auth/
.wwebjs_cache/

# Логи
logs/
*.log

# Редакторы
.idea/
.vscode/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db 